@import './base.css';

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: white;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.socialMediaButton:hover {
  transition: .3s;
  box-shadow: 0 0 15px 5px #ffffff80;
}

.socialMediaButtonLong:hover {
  transition: .3s;
  box-shadow: 0 0 15px 5px #ffffff80;
}
